body{
    font-family: sans-serif;
    background-color: antiquewhite
}
.greet{
    font-size: 36px;
    font-style: italic;
    background-color: aquamarine;
    
}
.first{
    font: 16px;
    font-style: italic;
    background-color: cadetblue
}
.second{
    background-color: azure
}
.para{
    color:darkkhaki;
    font-size: 18px
}
.button{
    color: black;
    background-color: antiquewhite;
    border: 2px solid #008CBA;
    padding: 10px 28px;
    transition-duration: 0.4s;
    cursor: pointer
    
}
.button:hover{
    background-color: #008CBA;
    color: white
}
hr{
    display: block;
    border-width: 25px;
    border-color: cadetblue
}